html,
body {
  padding: 0;
  margin: 0;
  background: #673ab8;
  font-family: 'Helvetica Neue', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
}
a:hover {
  color: #40a1f5;
}
svg:hover {
  opacity: .5;
}